:root {
  --pink: hsl(322, 100%, 66%);
  --light-pink: hsl(321, 100%, 78%);
  --light-red: hsl(0, 100%, 63%);
  --dark-cyan: hsl(192, 100%, 9%);
  --pale-blue: hsl(207, 100%, 98%);
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Open Sans", sans-serif;
}

html {
  font-size: 62.5%;
}

html,
body {
  height: 100%;
}

body {
  background-color: #fff;
  font-size: 1.6rem;
  line-height: 1.5;
  color: var(--dark-cyan);
}

.container {
  width: 100%;
  margin: 0 auto;
  padding: 1.5rem;
}

img {
  display: block;
  width: 100%;
}

a {
  text-decoration: none;
}

.btn {
  display: inline-block;
  outline: none;
  border: none;
  cursor: pointer;
  background-color: transparent;
}

.btn.rounded-50 {
  border-radius: 5rem;
}

.heading {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  color: var(--dark-cyan);
}

/* HEADER */
header {
  height: 10rem;
  display: flex;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1;
}

header .header-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header .logo {
  width: 20rem;
}

.btn-outline {
  padding: 0.7rem 3rem;
  border: 1px solid var(--pink);
  font-size: 1.4rem;
  color: var(--pink);
  box-shadow: 0 4px 10px -2px hsla(192, 100%, 9%, 0.1);
}

/* HERO */
.hero {
  min-height: 100vh;
  text-align: center;
}

.hero .intro {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.intro h1 {
  font-size: clamp(3rem, 5vw, 4rem);
  margin-top: 10rem;
}

.intro p {
  max-width: 50rem;
  margin: 0 auto;
  margin-top: 1.5rem;
}

.btn-pink {
  background-color: var(--pink);
  color: var(--pale-blue);
  box-shadow: 0 0.6rem 1.3rem -1px hsla(192, 100%, 9%, 0.18);
  margin-top: 3rem;
}

.btn-lg {
  padding: 1.7rem 6rem;
}

.btn-pink:hover {
  filter: opacity(90%);
}

.hero .mockups-img {
  max-width: 85rem;
  margin: 0 auto;
}

/* STATS */
.stats {
  padding: 7rem 0;
}

.stats-row {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.statistic {
  padding: 1.5rem;
}

.statistic-icon {
  width: 4rem;
}

.statistic-number {
  font-size: 7rem;
}

.statistic-name {
  color: hsl(0, 0%, 60%);
  font-weight: 400;
  font-size: 1.8rem;
}

.statistic-message .statistic-name {
  text-align: center;
}

/* FEATURES */
.features {
  padding: 7rem 0;
}

.feature:not(:last-child) {
  margin-bottom: 20rem;
}

.feature {
  padding: 1rem 0;
  position: relative;
}

.feature:nth-child(odd) {
  background-color: var(--pale-blue);
}

.feature:nth-child(odd)::before,
.feature:nth-child(odd)::after {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  width: 100%;
  height: 20rem;
  background-size: 125%;
  background-repeat: no-repeat;
  z-index: -1;
}

.feature-1::before {
  top: calc(-20vw + 70px);
  background-image: url(./images/bg-section-top-desktop-1.svg);
  background-position: top;
}

.feature-1::after {
  bottom: calc(-22vw + 100px);
  background-image: url(./images/bg-section-bottom-desktop-1.svg);
  background-position: bottom;
}

.feature-3::before {
  top: calc(-20vw + 70px);
  background-image: url(./images/bg-section-top-desktop-2.svg);
  background-position: top;
}

.feature-3::after {
  bottom: calc(-22vw + 100px);
  background-image: url(./images/bg-section-bottom-desktop-2.svg);
  background-position: bottom;
}

.feature-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.feature:nth-child(even) .feature-content {
  flex-direction: row-reverse;
}

.feature-content > * {
  flex: 1; /* flex-grow: 1; flex-shrink: 1; flex-basis: 0; */
  padding: 1.5rem;
}

.feature-content h3 {
  font-size: clamp(2.7rem, 5vw, 3.3rem);
}

.feature-content p {
  margin-top: 1.5rem;
}

.feature .feature-illustration {
  max-width: 45rem;
}

.feature:nth-child(odd) .feature-illustration {
  margin-left: auto;
}

.feature:nth-child(even) .feature-illustration {
  margin-right: auto;
}

/* READY */
.ready {
  padding: 15rem 0 12rem;
  text-align: center;
}

.ready .heading {
  font-size: 3rem;
}

/* FOOTER */
footer {
  padding: 5rem 0;
  background-color: var(--dark-cyan);
  color: var(--pale-blue);
  font-size: 1.5rem;
  margin-top: 10rem;
  position: relative;
}

footer::before {
  content: "";
  display: block;
  position: absolute;
  top: -19rem;
  left: 0;
  width: 100%;
  height: 20rem;
  z-index: 1;
  background-image: url(./images/bg-footer-top-desktop.svg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: right bottom;
}

.footer-row {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin: 0 -1.5rem;
}

.footer-col {
  padding: 0 1.5rem;
  max-width: 40rem;
}

.footer-col-1 {
  max-width: 35rem;
}

.logo-for-footer {
  width: 20rem;
}

.contact-huddle .description {
  margin-top: 2rem;
}

.contacts {
  margin-top: 3rem;
}

.contact {
  display: flex;
  align-items: center;
  margin-top: 1rem;
}

.contact-icon {
  width: 1.7rem;
  margin-right: 2rem;
}

.contact-name {
  font-size: 1.4rem;
}

.scm-list {
  list-style: none;
  width: 11rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 5rem;
}

.scm-list .bi {
  color: var(--pale-blue);
  font-size: 2.2rem;
}

.scm-list a:hover .bi {
  color: var(--pink);
}

.heading.text-white {
  color: var(--pale-blue);
}

.newsletter .heading {
  font-size: clamp(2.3rem, 5vw, 3rem);
  font-weight: 600;
  text-transform: uppercase;
}

.newsletter .newsletter-description {
  margin-top: 1.3rem;
}

.newsletter form {
  display: flex;
  margin-top: 3rem;
}

.newsletter .form-control {
  flex: 1;
  position: relative;
}

.newsletter form input {
  display: block;
  width: 100%;
  padding: 0.8rem 1.3rem;
  outline: none;
  border: 1px solid transparent;
  border-radius: 3px;
  font-family: inherit;
  font-size: 1.4rem;
  color: var(--pink);
  caret-color: var(--pink);
}

.newsletter form input::placeholder {
  font-size: 1.3rem;
  color: #999;
}

.newsletter .form-control .feedback {
  position: absolute;
  bottom: -2.5rem;
  left: 0;
  width: 100%;
  font-size: 1.3rem;
  color: var(--light-red);
  z-index: 1;
}

.btn-subscribe {
  background-color: var(--pink);
  color: var(--pale-blue);
  padding: 0.8rem 2rem;
  border-radius: 3px;
  margin-top: 0;
  margin-left: 1.5rem;
  font-weight: 600;
}

@media screen and (min-width: 576px) {
  .container {
    max-width: 54rem;
  }
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 72rem;
  }
}

@media screen and (min-width: 992px) {
  .container {
    max-width: 96rem;
  }

  .feature-1::after {
    bottom: calc(-20vw + 100px);
  }

  .feature-3::before {
    top: calc(-20vw + 80px);
  }

  .feature-3::after {
    bottom: calc(-20vw + 100px);
  }
}

@media screen and (min-width: 1200px) {
  .container {
    max-width: 114rem;
  }

  .feature-1::before {
    top: calc(-20vw + 100px);
  }

  .feature-1::after {
    bottom: calc(-20vw + 120px);
  }

  .feature-3::before {
    top: calc(-20vw + 130px);
  }

  .feature-3::after {
    bottom: calc(-20vw + 120px);
  }
}

@media screen and (min-width: 1400px) {
  .container {
    max-width: 132rem;
  }
}

@media screen and (max-width: 800px) {
  .stats-row {
    flex-direction: column;
    justify-content: space-between;
  }

  .statistic-message {
    margin-top: 3.5rem;
  }

  .statistic-number {
    font-size: 5rem;
  }

  .statistic-name {
    font-size: 1.5rem;
  }

  .feature-content,
  .feature:nth-child(even) .feature-content {
    flex-direction: column-reverse;
  }

  .feature:nth-child(odd) .feature-content {
    flex-direction: column-reverse;
  }

  .feature-content {
    text-align: center;
  }

  .feature:nth-child(odd) .feature-intro {
    margin-top: 3rem;
  }

  .feature:nth-child(even) .feature-illustration {
    margin-top: 3rem;
  }
}

@media screen and (max-width: 768px) {
  .feature:nth-child(odd)::before,
  .feature:nth-child(odd)::after {
    background-size: 100%;
  }

  .feature-1::before {
    top: calc(-20vw + -45px);
    background-image: url(./images/bg-section-top-mobile-1.svg);
    background-position: top;
  }

  .feature-1::after {
    bottom: calc(-22vw + 63px);
    background-image: url(./images/bg-section-bottom-mobile-1.svg);
    background-position: bottom;
  }

  .feature-3::before {
    top: calc(-20vw + -35px);
    background-image: url(./images/bg-section-top-mobile-2.svg);
    background-position: top;
  }

  .feature-3::after {
    bottom: calc(-22vw + 63px);
    background-image: url(./images/bg-section-bottom-mobile-2.svg);
    background-position: bottom;
  }

  .footer-row {
    flex-direction: column-reverse;
    align-items: flex-start;
    margin: 0;
  }

  .footer-row .footer-col {
    max-width: 52rem;
  }

  .footer-col-1 .contact-huddle {
    margin-top: 5rem;
  }
}

@media screen and (max-width: 414px) {
  header .logo {
    width: 13rem;
  }

  .btn-outline {
    padding: 0.6rem 2.3rem;
  }

  .intro h1 {
    font-size: clamp(2.7rem, 5vw, 4rem);
  }

  .btn-lg {
    padding: 1.5rem 3.5rem;
  }

  .feature {
    padding: 3rem 0;
  }

  .feature .feature-illustration {
    max-width: 30rem;
  }

  .feature-content h3 {
    font-size: 2.3rem;
  }

  .feature-content p {
    font-size: 1.45rem;
  }

  .feature-1::before {
    top: calc(-20vw + -30px);
  }

  .feature-1::after {
    bottom: calc(-22vw + 36px);
  }

  .feature-3::before {
    top: calc(-20vw + -10px);
  }

  .feature-3::after {
    bottom: calc(-22vw + -10px);
  }

  .feature:not(:last-child) {
    margin-bottom: 10rem;
  }

  .ready .heading {
    font-size: 2.6rem;
  }

  .logo-for-footer {
    width: 14rem;
  }

  .newsletter form {
    flex-direction: column;
  }

  .btn-subscribe {
    margin-left: 0;
    margin-top: 1rem;
  }

  .newsletter form input,
  .btn-subscribe {
    padding: 1rem 1.5rem;
  }

  .newsletter .form-control .feedback {
    all: unset;
    font-size: 1.3rem;
    color: var(--light-red);
  }
}
